.navbar-custom {
    color: #FFFFFF;
    background-color: #722872;
}

.navbar{
    border-radius: 0px;
    margin-bottom: 0px;
    box-shadow: 0 5px 7.5px 0 #454647;
/*    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;*/
}
.navbar-brand{
    font-size: 25px;
    color: white;
}
.navbar-brand:hover{
    color:black;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
}
.active{ 
    color: black; 
    background-color: white;
}
.nav.navbar-nav.navbar-right li a:hover, .nav.navbar-nav.navbar-right li a:focus{
    color:black;
}

body{
    background-color: white;/*#7a797a;*/
}

.data{
    background-color: #f2f2f2; /*#d5d4d6;*/
    box-shadow: 0 2px 4px 2px #722872;/*#282828;*/
    padding: 0;
    padding-top: 100px;
    
}

.intro{
    max-height: 300px;
    min-height: 300px;
    padding-top:40px;    
}
.intro-image{
    max-height: 250px;
    max-width: 250px;
    min-height: 250px;
    min-width:250px;
    border-radius: 100%;
    box-shadow: 0 0 25px 0 #722872;
}
.intro-image:hover{
    transform: scale(1.1, 1.1);
    opacity: 1;
}
.image{
/*
    overflow: hidden;
    position: relative;    
*/
    max-height: 300px;
    min-height: 300px;
    padding-top:30px;
}

@media (max-width: 979px) {
    .image{
        padding-top: 0;
    }
}
.intro-text{
    padding:2%;
    font-size:1.15em;
    color: #722872;
    font-weight: bold;
}
.designation{
    font-size: 1.5em;
    color: #722872;
    font-weight: bold;
    text-align: center;
}
.projects{
    background:white;
    
}
.card-deck-wrapper{
    padding:60px;
}
.text{
    max-width: 70%;
    height: inherit;
}
hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border: 1px solid #722872;
}
.card-title{
    color: #722872;
}
.card-subtitle{
    color: #722872;
    text-align: center;
}
.project-image{
    max-height: 300px;
    max-width: 100%;
    min-height: 300px;
    min-width: 100%;
    box-shadow: 0 0 5px 0 #282828;
    border-radius: 5px 5px 0 0;    
}
.project-image:hover{
    opacity: 0.6; 
    filter: alpha(opacity=60);
}
.shadow{
    box-shadow: 0 4px 4px 0 #722872;/*#282828;*/
}
.shadow:hover {
    box-shadow: 0 8px 25px 0 #722872;/*#282828;*/
}
.link{
    text-align: center;
}
.link:hover{
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
}
.about-text{
    color: #722872;
    padding: 10px;
    text-align: justify;
    text-indent: 50px;
/*    letter-spacing: 2px;*/
    line-height: 1.8;
    word-spacing: 5px;
    font-family: "Times New Roman";
    font-size: 20px;
}
@media (max-width: 979px) {
    .about-text{
        font-family: "Times New Roman";
        font-size: 20px;
        color: #722872;
        padding: 10px;
    }
}
.panel{
    border-radius: 10px;
}
.panel:hover{
    color:white;
    background-color: #722872;
}


/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    text-align: center;
    margin:auto;
    position:relative;
}
/* flip the pane when hovered */
.flip-container:hover .flipper{
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 320px;
    height: 300px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    border-radius: 5px;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    border-radius: 5px;
    background-color: white;
}

.flip-container:before {
    position: absolute;
    top: -0.3em;
    left: -0.5em;
    width: 1.8em;
    height: 1.2em;
    font-size: 2em;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #6CD6CC;
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    z-index: 99;
    overflow: hidden;
    content: counter(li-counter);
    counter-increment: li-counter;
    box-shadow: 0 2px 4px 2px #722872;/*#282828;*/
}
@media (max-width: 380px) {
    .flip-container, .front, .back {
        width: 100%;
    }
}

/* List style */

.list-type5{
    width:100%;
    margin:0 auto;
}
.list-type5 ol {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
    margin: 0;
    margin-left: 1em;
    padding: 0;
    counter-reset: li-counter;
}
.list-type5 ol li{
    position: relative;
    margin-bottom: 1.5em;
    padding: 0.5em;
    background-color: #F0D756;
    padding-left: 58px;
    border-radius: 50px;
    color:black;
    font-size:15px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 2px 4px 2px #282828;
}

.list-type5 ol li:before {
    position: absolute;
    top: -0.3em;
    left: -0.5em;
    width: 1.8em;
    height: 1.2em;
    font-size: 2em;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #6CD6CC;
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    z-index: 99;
    overflow: hidden;
    content: counter(li-counter);
    counter-increment: li-counter;
    box-shadow: 0 2px 4px 2px #722872;/*#282828;*/
}

.contact{
    background-color: white;/*#722872;*/
/*    box-shadow: 0 -1px 4px 2px #282828;*/
}
.contact a{
    padding: 5px;
}
.contact h2,.contact h6{
    color: #722872;
}
.footer{
    background-color: #722872;
    padding: 10px;
    color: white;
    box-shadow: 0 -5px 7.5px 0 #454647;
}
.footer a{
    text-align: center; 
    color: white;
}

@media (max-width: 979px) {
    .footer p{
        margin: auto;
        text-align: center;
    }
}

.fa-envelope{
    color: #ea4335;
}
.fa-github{
    color:black;
}
.fa-gitlab{
    color:#fc6d26;
}
.fa-facebook-square{
    color: #3b5998;
}
.fa-twitter{
    color: #1da1f2;
}
.fa-medium{
    color:#02b875;
}
.fa-linkedin-square{
    color:#0077b5;
}
.fa-wordpress{
    color: #464646;
}
.fa-stack-overflow{
    color: #fe7a15;
}