.navbar-custom {
    color: #FFFFFF;
    background-color: white;/*#722872;*/
}

.navbar{
    border-radius: 0px;
    color: black;
    margin-bottom: 0px;
    box-shadow: 0 10px 15px 0 #454647;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.nav.navbar-nav.navbar-right li a {
    color: black;
}
body{
    background-color: white;/*#7a797a;*/
}
.data{
    background-color: #d5d4d6;
    box-shadow: 0 10px 20px 10px #282828;
    padding:0;
}
.home{
    height: 400px;
}
#intro-image{
    margin-top: 20%;
    max-height: 300px;
    max-width: 300px;
    min-height: 300px;
    min-width:300px;
    border-radius: 100%;
}
.image{
    height: inherit;
    max-width: 30%;
}
.intro-text{
    padding:2%;
    font-size:1.15em;
    margin-top: 20%;
    color: #722872;
    font-weight: bold;
}
.designation{
    font-size: 1.5em;
    color: #722872;
    font-weight: bold;
    text-align: center;
}
.projects{
    background:#eee;
    
}
.card-deck-wrapper{
    padding:60px;
}
.text{
    max-width: 70%;
    height: inherit;
}
hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border: 1px solid #722872;
}
.card-title{
    color: #722872;
}
.card-subtitle{
    color: #722872;
}
.project-image{
    max-height: 300px;
    max-width: 100%;
    min-height: 300px;
    min-width: 100%;
    box-shadow: 0 0 5px 0 #282828;
}
.shadow{
    box-shadow: 0 4px 4px 0 #282828;
}
.about{
    background-color: #d5d4d6;
}