<div id="header">
    <nav class="white navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Sudheesh Shetty</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#"><i class="material-icons left">perm_identity</i>Home</a></li>
                    <li><a href="badges.html"><i class="material-icons left">library_books</i>Blogs</a></li>
                    <li><a href="collapsible.html"><i class="material-icons left">info</i>Projects</a></li>
                    <li><a href="mobile.html"><i class="material-icons left">contacts</i>Contact</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#"><i class="material-icons left">perm_identity</i></a></li>
                    <li><a href="badges.html"><i class="material-icons left">library_books</i></a></li>
                    <li><a href="collapsible.html"><i class="material-icons left">info</i></a></li>
                    <li><a href="mobile.html"><i class="material-icons left">contacts</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>